<div class="container">
  <div class="card offset-2 mt-3">
    <div class="card-header">
      <h4 class="card-title">Foglalás hozzáadása vagy módosítása</h4>
      <p class="card-category">A *-gal jelölt mezők kitöltése kötelező</p>
    </div>
    <div class="card-body">
      <div class="row mb-3 ml-3">
        <div *ngIf="booking" class="col-12">
          <form #bookingForm="ngForm" (ngSubmit)="onUpdate(booking)" class="mt-3">
            <input [(ngModel)]="booking.id" name="id" type="hidden">

            <div class="row mb-2">
              <div class="form-group col-lg-6 col-md-12 mb-2">
                <mat-form-field appearance="outline">
                  <mat-label class="font-weight-bold">Foglalás azonosító</mat-label>
                  <input matInput [(ngModel)]="booking['id']" type="number" disabled name="id" id="bookingID">
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-2">
              <table class="full-width">
                <tr>
                  <th>Személyes adatok:</th>
                </tr>
                <tr>
                  <td>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Név</mat-label>
                      <input matInput [(ngModel)]="booking['name']" type="text" name="name" id="bookingName" required
                        pattern="^[a-űA-Ű \-\']{3,}(\s[a-űA-Ű \-\']{3,}){1,}$">
                    </mat-form-field>
                    <div [hidden]="bookingForm.controls['name']?.valid || bookingForm.controls['name']?.pristine"
                      class="error-message text-danger">
                      <span>A név legalább két szóból áll, a szavak hossza legalább  <br>
                        3 karakter és csak betűkből, kötőjelből, aposztrófból állhat.</span>
                    </div>

                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Email cím</mat-label>
                      <input matInput [(ngModel)]="booking['email']" type="email" name="email" id="bookingEmail" required
                        pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}(\.[a-z]{2,})*$">
                    </mat-form-field>
                    <div [hidden]="bookingForm.controls['email']?.valid || bookingForm.controls['email']?.pristine"
                      class="error-message text-danger">
                      Nem érvényes email cím formátum.
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class="row mb-2">
              <table>
                <tr>
                  <th>Csomag adatok:</th>
                </tr>
                <tr>
                  <td>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Csomag</mat-label>
                      <mat-select [(ngModel)]="booking['package']" type="number" min="0" name="package"
                        id="bookingPackage" required>
                        <mat-option>Válasszon csomagot!</mat-option>
                        <mat-option *ngFor="let package of packages$ | async" [value]="package.id">
                          {{ package.packageName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div [hidden]="bookingForm.controls['package']?.valid || bookingForm.controls['package']?.pristine"
                    class="error-message text-danger">
                      Kérjük, válasszon csomagot.
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class="row mb-2">



              <table cellspacing="2">
                <tr>
                  <th>Dátum adatok:</th>
                </tr>
                <tr>
                  <td>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Dátum</mat-label>
                      <input matInput required placeholder="Válasszon dátumot!"
                      [matDatepicker]="date" (click)="date.open()" name="date"
                        id="date" [(ngModel)]="booking.appointment.date">
                      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                      <mat-datepicker #date color="primary"></mat-datepicker>
                    </mat-form-field>
                    <div [hidden]="bookingForm.controls['date']?.valid || bookingForm.controls['date']?.pristine"
                    class="error-message text-danger">
                      Nem érvényes dátumformátum.
                    </div>
                  </td>

                  <td>
                    <mat-form-field appearance="outline">
                      <mat-label>Idősáv</mat-label>
                      <mat-select [(ngModel)]="booking.appointment.time" type="number" min="0" name="time"
                        id="bookingTime" required>
                        <mat-option>Válasszon idősávot!</mat-option>
                        <mat-option value="14:00">14:00</mat-option>
                        <mat-option value="16:00">16:00</mat-option>
                        <mat-option value="18:00">18:00</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div [hidden]="bookingForm.controls['time']?.valid || bookingForm.controls['time']?.pristine"
                  class="error-message text-danger">
                  Kérjük, válasszon idősávot.
                </div>
                  </td>
                </tr>
              </table>

            </div>

            <div class="button-group mt-5">
              <button [disabled]="bookingForm.invalid" class="btn btn-primary mr-3" type="submit">Mentés</button>
              <button [hidden]="booking.id === 0" class="btn btn-danger mr-3" (click)="onRemove(booking)"
                type="button">Törlés</button>
              <button routerLink="/booking" class="btn btn-secondary" type="button">Mégsem</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

