.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.mat-card-image {
  height: 40%;
 object-fit: fill;
}

.error-message {
  font-size: smaller;
}

.mat-form-field textarea {
  resize: both;
  min-height: 30px;
  min-width: 190px;
  max-height: 50px;
  max-width: 210px;
}
